{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}!{% endblock %}

{% block body %}
<h1>Hello {{ app.user.username }}!</h1>
<a href="http://api-admin.thery-ble.com/admin">START</a>
{% endblock %}